In [4]:

"# VR Trains playground\n",
"\n",
"Tällä notebookilla voit kokeilla DuckDB-yhteyttä ja tehdä ensimmäisiä kyselyitä."

'Tällä notebookilla voit kokeilla DuckDB-yhteyttä ja tehdä ensimmäisiä kyselyitä.'

In [ ]:
from pathlib import Path
import duckdb
import pandas as pd

In [10]:
repo_root = Path.cwd()
if not (repo_root / "data").exists():
    repo_root = repo_root.parents[1]
db_path = repo_root / "data/vr_trains.duckdb"
conn = duckdb.connect(str(db_path))
conn.execute("select * from information_schema.schemata").fetchdf()

,catalog_name,schema_name,schema_owner,default_character_set_catalog,default_character_set_schema,default_character_set_name,sql_path
0,system,information_schema,duckdb,None,None,None,None
1,system,main,duckdb,None,None,None,None
2,system,pg_catalog,duckdb,None,None,None,None
3,temp,main,duckdb,None,None,None,None
4,vr_trains,main,duckdb,None,None,None,None

In [16]:
conn.execute("show tables").fetchdf()

Empty DataFrame
Columns: [name]
Index: []

In [15]:
tables = conn.execute("select table_schema, table_name from information_schema.tables").fetchdf()
tables
if ((tables.table_schema == "bronze") & (tables.table_name == "live_trains")).any():
    conn.execute("select * from bronze.live_trains limit 5").fetchdf()
else:
    "bronze.live_trains not found. Run fetch_digitraffic.py and bronze_merge.py first."
tables

Empty DataFrame
Columns: [table_schema, table_name]
Index: []

In [17]:
conn.close()